# Ship only the client module plus the project's README and license.
# The repository holds the server too, so start from nothing
# and add back exactly what belongs in the client distribution.
# List pyproject.toml explicitly.
# The sdist cannot be rebuilt without pyproject.toml in this list.
# setuptools injects setup.cfg and PKG-INFO itself.
global-exclude *
recursive-include python/ds_service_client *.py *.pyi
include README.md
include LICENSE
include pyproject.toml
